*{
	
}

body{
	background-color: #A9A9A9;
	font-family: "Roboto Slab",times;
	font-size: 15px;
	font-weight: light;
	padding: 50px;
}

h1{
	color: #990000;
	font-family: "Roboto Condensed", times;
	text-transform: uppercase;
	font-size: 32px;
}

h2{
	color: #990000;
	font-family: "Roboto Condensed", times;
	text-transform: uppercase;
	font-size: 18px;
}
p{
  	min-width: 200px;
  	max-width: 1000px;
}

a{
	color: #F8F8FF;
  padding: 5px;
}

img.image{
	border-radius: 15%;
	display: inline-block;
	width: 15%;
	
}