/**{
  border: 1px solid #ccc;
}*/

body{
  position: relative;
}

p{
  font-size: 24px;

}

.description{
  font-size: 18px;
  max-width: 600px; 
}


.bg {
  position: fixed;
  width: 101%;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron .links{
  margin:auto;
  width: auto;
  display: inline-flex;

}
.jumbotron .links a{
  margin:15px auto;
  color: #007bff;
}

.jumbotron .btn-primary{
  display: inline-flex;
  margin:auto;
  width:auto;
}

strong{
  color: #007bff;

}

.marquee-bg {
  min-height: 560px;
  height: auto;
  background:linear-gradient(rgba(155,155,155,0.3),rgba(255,255,255,1)), url(https://github.com/nickveil/nickveil.github.io/blob/master/_assets/Keyboard.jpg?raw=true);
  margin-bottom:0px;
}
.jumbotron {

  min-height: 560px;
  height: auto;
  background:linear-gradient(rgba(155,155,155,0.3),rgba(255,255,255,1)), url(https://github.com/nickveil/nickveil.github.io/blob/master/_assets/Keyboard.jpg?raw=true);
  margin-bottom:0px;
}
.jumbotron p, .jumbotron h1 {
  color: #353a41;
  font-family: 'Palanquin', sans-serif;
  text-shadow: #ccc 2px 2px 1px;
  margin-left: 40px;
}
.jumbotron a{
  margin-left: 40px;
}

.jumbotron .row .btn{
  margin-top: 40px;
}
.dropdown{
  color: #456ef9;
}

.header-align{
  margin-top: 25px;
  
}

.skills, .portfolio, .about{
  margin-bottom: 50px;
  margin-top: 50px;
}

.blog{
  margin-bottom: 100px;
  margin-top: 150px;
}
.profile-img{
  position: relative;
  top: 400px;
  margin-left:auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url("https://github.com/nickveil/nickveil.github.io/blob/master/_assets/profile-pic.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #353a41;
  display: inline-block;
}

/* .profilePicDiv{
  width: 300px;
  height: 300px;
  background-image: url("https://github.com/nickveil/nickveil.github.io/blob/master/_assets/profile%202.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 5%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #353a41;
  display: inline-block;
} */
.heading {
  position: absolute;
}

.heading-title{
  color: #353a41;
  font-family: 'Palanquin', sans-serif;
  text-shadow: #ccc 2px 2px 1px;
  margin-left: 5%;

  margin-top: 135px;
  font-size: 8.1vw;
  text-align: center;
}


@media (max-width: 1023px) and (min-width: 576px){
  .heading-title{
    font-weight:600;
    margin-left: 10%;
    font-size:12vw;
  }
}

@media (max-width: 575px){
  .heading-title{
    font-weight:900;
    font-size:14vw;
  }
}

.skill-section {
  margin-top: 350px;
}

.card{
  background: #ccc;
  color: #353a41;
  height: 250px;
  width: auto;
  border: solid 5px #353a41;
  border-radius: 15px;
}
.card-block {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.card-title{
  text-align: center;
  vertical-align: middle;
  flex: 0 0 150px;
  font-weight: 700;
  font-size: 2rem;
}

.card-text{
  font-weight: 300;
  font-size: 1.5rem;
  text-align: left;
}

.card-flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.card-flip:hover .flip, .card-flip.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}


.footer{
  text-align: center;
}
.fa{
  margin: 5px 10px;
}

.about p{
  margin-top: 50px;
}
.about img {
  margin-top: 70px;
}

.col-sm-2,{
  margin-right: 15px;
  margin-left: 15px;
}

.col-sm-8{
  margin-right: 15px;
  margin-left: 15px;
  float: right;
}
.email{
  text-align: right;
}

ul{
  list-style-type: none;
    font-family: 'Palanquin', sans-serif;
}
#portfolio{
  min-height: 950px;
  height:auto;
  background-color: #353a41;
  color: white;
  margin: 0px;
  padding: 60px 0px;
}
#contact{
  min-height: 800px;
  height:auto;
  margin: 60px 0px;
  padding: 60px 0px;
}
.contactInfo{
  margin:auto;
  display: inline-block;

}
}
